@page
@model Sistema_de_Tarjeta_de_Credito.Pages.Cuentas.CuentaModel
@{
    ViewData["Title"] = "Cuenta";
}
<html>



<body>
    <div class="card border-dark">
        <div class="m-4">


            <h4>Cuenta</h4>
            <hr />
            <div>
                <a class="btn btn-primary" asp-page="./CrearCuenta">Crear cuenta</a> |
                <a class="btn btn-dark" onclick="history.back()">Atrás</a>
            </div>


            <!-- Esta tabla solo es un ejemplo-->
            <table class="table">

                <thead>
                    <tr>
                        <th class="col-sm-2">Cuenta id</th>
                        <th class="col-sm-2">Número de cuenta</th>
                        <th class="col-sm-2">Saldo</th>
                        <th class="col-sm-2">cliente id</th>
                        <th></th>
                    </tr>

                </thead>

                <tbody>

                    @foreach (var c in Model.cuentas)
                    {
                        <tr>
                            <td class="col-sm-2">
                                @c.CuentaId
                            </td>
                            <td class="col-sm-2">
                                @c.NumCuenta
                            </td>
                            <td class="col-sm-2">
                                @c.Saldo
                            </td>
                            <td class="col-sm-2">
                                @c.ClienteId
                            </td>
                            <td class="col-sm-4">

                                <form method="post">
                                    <a class="btn btn-primary btn-sm" asp-page="./EstadoCuenta" asp-route-id="@c.CuentaId"> Ver estado de cuenta</a> |

                                    <input class="btn btn-danger btn-sm" type="submit" asp-page="./Cuenta" asp-route-id="@c.CuentaId" value="Eliminar">
                                </form>
                                
                            </td>
                        </tr>
                    }

                </tbody>
            </table>


        </div>
    </div>

</body>




</html>